rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /sanctions/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
      match /violations/{violationId} {
        allow read: if request.auth != null && request.auth.uid == uid;
        allow write: if false;
      }
    }

    match /posts/{postId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(['commentCount', 'lastActivityAt', 'media', 'media.viewCount']);
      allow delete: if false;

      match /comments/{commentId} {
        allow read: if true;
        allow create: if request.auth != null;
        allow update: if request.resource.data.diff(resource.data).affectedKeys()
          .hasOnly(['media', 'media.viewCount']);
        allow delete: if false;
      }
    }
  }
}
